{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_field_and_submit %}
{% from "lbrc/pagination.html" import render_pagination, pagination_summary %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Finance Uploads</h2>

        <form action="{{ url_for('ui.finance_upload_index') }}" method="GET" enctype="multipart/form-data">
            <fieldset>
                {{ render_form_fields(search_form) }}

                <div class="button_bar">
                    {% if current_user.is_finance_uploader %}
                        <a class="icon upload" href="javascript:;" title="Upload Finance File" hx-get="{{ url_for('ui.finance_upload_upload' ) }}" hx-target="body" hx-swap="beforeend" role="button">Upload Finance File</a>
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </header>

    {{ pagination_summary(finance_uploads, 'finance uploads') }}

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Date Uploaded</th>
                <th>Filename</th>
                <th>Status</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
            {% for u in finance_uploads.items %}
                <tr>
                    <td></td>
                    <td>{{ u.created_date | datetime_format }}</td>
                    <td>{{ u.filename }}</td>
                    <td>{{ u.status }}</td>
                    <td>
                        <ul>
                            {% for m in u.messages %}
                                <li>{{ m.display_text }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ render_pagination(finance_uploads, 'ui.finance_upload_index', form=search_form) }}

</section>
{% endblock %}
