{% extends "lbrc/page.html" %}

{% block page_content %}
    <section class="container">
        <div>
            <header>
                <h1>Participants Recruited</h1>
            </header>
            <p>{{ frontpage.recruitment_count }}</p>
        </div>
        <div>
            <header>
                <h1>Projects Supported</h1>
            </header>
            <p>{{ frontpage.projects_supported }}</p>
        </div>
        <div>
            <header>
                <h1>Supported Commercial Projects</h1>
            </header>
            <p>{{ frontpage.commercial_projects_supported }}</p>
        </div>
    </section>
{% endblock %}
